section {
  counter-increment: section_count;
  counter-reset: figure_count;
}

figure {
  //border: 1px solid $red;
  counter-increment: figure_count;
  margin: 2em auto;
  display:block;

  figcaption {
    color: #999;
    font-family: 'Stone-Humanist-SemiItalic', sans-serif;
    margin-top: -.25em;
  }

  figcaption::before {
    content: 'Figure ' counter(section_count) '-' counter(figure_count) ': ';
  }

  img {
    display:block;
    width:100%;
    max-width:600px;
    max-width: 100%;
    height: auto;
  }
}

figure .sidebyside{
  counter-increment: figure_count;
  margin: 2em auto;
  display:block;
  width:100%;
  max-width:600px;
  max-width: 100%;
  height: auto;

  figcaption {
    font-family: 'Stone-Humanist-SemiItalic', sans-serif;
    margin-top: -.25em;
  }

  figcaption::before {
    content: 'Figure ' counter(section_count) '-' counter(figure_count) ': ';
  }

  img {
    display: block;
    width:100%;
    max-width:600px;
    max-width: 100%;
    height: auto;

      :last-child {
        clear:both;
      }
    }
  }


.full-bleed {
  background-size: cover;
  height: 50vw;

}

.full-bleed p {
  margin-top: 1.5em;

  :before {
    content: " ";
    display: block;
    clear: both;
  }
}

.full-bleed-image {
  display: none;

}
